.main{
  text-align: center;
  margin-top: 10%;
  font-size: 25px;
  background-color:gray;
  width: 80%;
  margin-left: 10%;

}

img{
  width: 600px;
}

p{
  font-size: 30px;
}

.form{
  font-size: 80px;
}

.login{
  font-size: 30px;
  height: 50px;
  text-align: center;
}

ul{
  text-align: left;
}

body{
}
